
div {
    margin: 20px;
}

ul {
    list-style-type: none;
    width: 500px;
}

li {
    padding: 10px;
    overflow: auto;
    position: relative;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

.selected {
    /*background: #eee;*/
    border-left: 2px solid gray;
    border-radius: 5px;
}