

<div [class]="isActive?'card act1ive':'card'" [class.active]="isActive">

  <a class="close-button" (click)="removeUser($event)"></a>
  <h4 class="card-title">
    <span>{{user.name.title}}.</span>
    {{user.name.first}}
    {{user.name.last}}
  </h4>

  <img class="card-img-top" src="{{user.picture.large}}" alt="Card image cap">
  <div class="btn btn-primary {{isActive? 'active':''}}" (click)="isActive = !isActive">{{isActive? 'Hide':'Show'}} description</div>
  <div class="card-body" *ngIf="isActive">


    <p class="card-text">
      {{user.description}}
    </p>

  </div>
</div>
