@import "~bootstrap/scss/mixins/buttons";

$main-color: salmon;
$hover-color: deepskyblue;

.card {
  width: 200px;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: box-shadow .4s;
  background: #444;
  color: $main-color;
  position: relative;

  &:hover, &.active {
    box-shadow: 3px 3px 16px #999999;
    cursor: pointer;
  }

  &.active {
    color: $hover-color;
  }

  .close-button {
    width: 20px;
    content: "close";
    height: 20px;
    right: 10px;
    top: 10px;
    position: absolute;
    opacity: 0.8;
    display: block;
    transition: opacity .4s, transform .4s;
    padding: 5px;
    box-sizing: content-box;
    z-index: 1;
  }

  .close-button:hover {
    transform: rotate(-90deg);
    opacity: 1;

    &:before, &:after {
      background: $hover-color;
    }
  }

  .close-button:before, .close-button:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: $main-color;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    transition: background-color .4s;
  }

  .close-button:after {
    transform: rotate(-45deg);
  }

  img {
    width: 128px;
    float: left;
  }

  .card-title {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    position: relative;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 10px;

    > span {
      text-transform: none;
      letter-spacing: 0;
      color: #999;

    }
  }

  .card-text {
    //margin-top: 15px;
    font-size: 9px;
  }

  .btn {
    margin: 15px 0;
    cursor: pointer;
    $color: "#ffffff";
    background-color: #444;
    border-color: $main-color;
    color: inherit;
    //@include button-variant('#999999', '#ffffff');
    transition: border-color .4s, color .4s;

    &:hover {
      background-color: #444;
      border-color: $hover-color;
      color: $hover-color;
    }

    &.active {
      margin-bottom: 0;
      border-color: $hover-color;
    }
  }

}
