.folderlist {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    margin: 10px;
}

.folderItem {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.folderAcitve {
    font-weight: bold;
    color: rgb(0, 174, 255);
}

.mailList {
    border: 1px solid #CCC;
    margin: 10px 10px 0 160px;
}