
<div class="list">
  <app-user-card *ngFor="let user of users"
                 [user]="user"
                 (selectedUser)="selectedUser=user"
                 (deletedUser)="deleteUser(user)"
                 [style.box-shadow]="selectedUser==user ? '0 0 10px 5px '+user.color : '' "
                 class="card">


  </app-user-card>
  <div class="card">
    <input type="text"

           placeholder="Username"
           [(ngModel)]="newUser.fullName">

    <input type="text"

           placeholder="email"
           [(ngModel)]="newUser.email">

    <input type="text"
           placeholder="Bday"
    [(ngModel)]="newUser.birthday">
      <button (click)="addNewUser()">Add!</button>

  </div>
</div>
{{selectedUser?.name}}