h1  {
    margin: 60px 0 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user article {
    width: 300px;
    background-color: #ededed;
    padding: 20px;
    border: 3px solid #777;
    border-radius: 7px;
    cursor: pointer;
}

.user div {
    padding: 10px;
    background-color: #df5151;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.user div:hover {
    background-color: #888;
}
