.users-list {
    list-style: none;
    padding: 0 25px;
    width: 50%;
    margin: 0 auto;
}

.user-item {
    margin: 5px 0;
    padding: 2px;
    cursor: pointer;
}

.user-item:hover {
    transform: scale(1.005);
}

.user-item.selected {
    background-color: #5f9ea0;
}

.user-form-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mat-button {
    margin-left: 20px;
}