<!DOCTYPE html>
<html>
  <head>
    <title>Свои директивы</title>	
	<script type="text/javascript" src="js/StructuralDirective.js"></script>		
	<script type="text/javascript" language="javascript">	
	var mailItems = [{Id: 1, Name: 'Первое письмо'}, {Id: 2, Name: 'Второе письмо'}, {Id: 3, Name: 'Третье письмо'}, {Id: 4, Name: 'Четвертое письмо'}, {Id: 5, Name: 'Пятое письмо'}, {Id: 6, Name: 'Шестое письмо'}];
	var disp = true;
	</script>  
  </head>
  <body>
	<div *ngIf="disp">Показываем div</div>
	<div *ngIf="!disp">Не показываем div</div>
    <div *ngFor="let item of mailItems">{{item.Id}}.{{item.Name}}</div>	  
  </body>
</html>
