<div class="user-card">
  <div class="user-card__image">
    <img *ngIf="user.data.thumb" [src]="user.data.thumb" [alt]="user.data.fullName" class="user-card__thumb">
  </div>
  <div class="user-card__info">
    <div class="user-card__name">{{user.data.fullName}}</div>
    <div class="user-card__contacts">
      E-mail: <a href="mailto:{{user.data.email}}">{{user.data.email}}</a>
      <ng-container *ngIf="user.data.phone">
        <br>
        Phone: {{user.data.phone}}
      </ng-container>
    </div>
  </div>
  <button (click)="delete(user.id)" class="user-card__del" title="delete">&times;</button>
</div>
