<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MAIL</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link"
      routerLink="./mail"
      routerLinkActive="is-active">Почта</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
      routerLink="./contacts"
      routerLinkActive="is-active">Контакты</a>
    </li>
  </ul>

  <!-- <form class="form-inline">
    <input class="form-control mr-2" type="text" placeholder="Поиск" aria-label="Поиск">
    <button class="btn mr-3" type="submit">Найти</button>
  </form> -->

  <a class="user-link"
    routerLink="./"
    routerLinkActive="is-active"
    [routerLinkActiveOptions]="{exact: true}">Вход</a>

</nav>

<router-outlet></router-outlet>
